In [2]:
import numpy as np
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [3]:
DIR = './Data'
FILE = '/products.csv'

file = '{}{}'.format(DIR, FILE)

print('File Directory: {}'.format(file))

File Directory: ./Data/products.csv

In [4]:
print(pd.read_csv(file, nrows=2))

            name                 sku  \
0    Bryce Jones  lay-raise-best-end
1  John Robinson    cup-return-guess

                                         description
0  Art community floor adult your single type. Pe...
1  Produce successful hot tree past action young ...

In [5]:
print(pd.read_csv(file))

                   name                  sku  \
0           Bryce Jones   lay-raise-best-end
1         John Robinson     cup-return-guess
2        Theresa Taylor            step-onto
3          Roger Huerta  citizen-some-middle
4          John Buckley       term-important
...                 ...                  ...
499995     Amy Williams     clear-understand
499996       Mandy Vang      decide-half-see
499997     David Norman     light-us-citizen
499998  Zachary Simmons  above-staff-work-be
499999   Tracey Hoffman    consider-top-head

                                              description
0       Art community floor adult your single type. Pe...
1       Produce successful hot tree past action young ...
2       Choice should lead budget task. Author best me...
3       Important fight wrong position fine. Friend so...
4       Alone maybe education risk despite way.\nWant ...
...                                                   ...
499995  Generation piece summer church. Maintain model...
499996  Chance rather together lot southern stay read....
499997  Oil successful seem enter financial. Book site...
499998  He adult common available view minute. Lot qui...
499999  Interesting prove my left. Home wish must mone...

[500000 rows x 3 columns]

In [6]:
csv_database = create_engine('sqlite:///csv_database.db')

In [7]:
chunksize = 10000
i = 0
j = 0

for df in pd.read_csv(file, chunksize = chunksize, iterator = True):
    df = df.rename(columns = {c: c.replace (' ', '') for c  in df.columns})
    df.index +=3
    
    df.to_sql('data_use', csv_database, if_exists = 'append')
    j = df.index[-1]+1
    
    print('| index : {}'.format(j))

| index : 10003
| index : 20003
| index : 30003
| index : 40003
| index : 50003
| index : 60003
| index : 70003
| index : 80003
| index : 90003
| index : 100003
| index : 110003
| index : 120003
| index : 130003
| index : 140003
| index : 150003
| index : 160003
| index : 170003
| index : 180003
| index : 190003
| index : 200003
| index : 210003
| index : 220003
| index : 230003
| index : 240003
| index : 250003
| index : 260003
| index : 270003
| index : 280003
| index : 290003
| index : 300003
| index : 310003
| index : 320003
| index : 330003
| index : 340003
| index : 350003
| index : 360003
| index : 370003
| index : 380003
| index : 390003
| index : 400003
| index : 410003
| index : 420003
| index : 430003
| index : 440003
| index : 450003
| index : 460003
| index : 470003
| index : 480003
| index : 490003
| index : 500003

In [8]:
df = pd.read_sql_query('SELECT DISTINCT name,sku,description FROM data_use ORDER BY sku', csv_database)

In [9]:
df.columns

Index(['index', 'name', 'sku', 'description'], dtype='object')

In [11]:
df.head(20)

,index,name,sku,description
0,3,Bryce Jones,lay-raise-best-end,Art community floor adult your single type. Pe...
1,4,John Robinson,cup-return-guess,Produce successful hot tree past action young ...
2,5,Theresa Taylor,step-onto,Choice should lead budget task. Author best me...
3,6,Roger Huerta,citizen-some-middle,Important fight wrong position fine. Friend so...
4,7,John Buckley,term-important,Alone maybe education risk despite way.\nWant ...
5,8,Tiffany Johnson,do-many-avoid,Born tree wind.\nBoy marriage begin value. Rec...
6,9,Roy Golden DDS,help-return-art,Pm daughter thousand.\nProcess eat employee ha...
7,10,David Wright,listen-enough-check,Under its near. Necessary education game every...
8,11,Anthony Burch,anyone-executive,I lose positive manage reason option. Crime st...
9,12,Lauren Smith,grow-we-decide-job,Smile yet fear society theory help. Rather thi...
10,13,Bailey Cox,suggest-similar,Peace happy letter small some worker plant be....
11,14,Jeffrey Davis,million-quality,See sea guy fire car.\nLose how floor main age...
12,15,Lisa Sanchez,defense-money-but,Exactly surface month such him. Life our cut g...
13,16,Jamie Johnson,teacher-why-adult,Language somebody baby scientist film dream ba...
14,17,Christina Campbell,point-find-pay,Company employee miss soldier history educatio...
15,18,Douglas Curtis,floor-throughout,Push enter everything society. Type stuff refl...
16,19,Arthur Johnson,various-mission,Myself none see short. Produce lead provide fi...
17,20,Brian Zamora,everyone-budget,More particularly answer himself may. Do cultu...
18,21,Jennifer May,garden-style-top,Natural little admit call. Effect economic pai...
19,22,Dylan Cortez,address-eye-say,See realize officer. Nor special high many fre...